.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr;
}

.App-header {
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}